.dev-object-block.display-vertical(v-for="i of data")
    .img-block.display-prefix.default-dev-picture
        p.prefix-block.min-size-text.white-text.regular-text.display-vertical-center {{type}}
    p.max-middle-text.bold-text.dev-text {{title}}
    p.min-middle-text.regular-text.dev-text {{Adress}}
    p.min-middle-text.regular-text.dev-text
    p.min-middle-text.regular-text.dev-text New Properties for Sale from £{{money}}
        span.bold-text {{price}}
    p.min-middle-text.regular-text.dev-text Shared Ownership Available